<tr>
  <td width="20%"><%= image_tag m_recipe.image %></td>
  <td width="70%"><h3><%= m_recipe.description %></h3></td>
  <td width="10%">
    <button type="button" class="btn btn-primary <%= enable_button_class m_recipe %>"
      data-toggle="modal" data-target="#m-recipe-1">
      Enable
    </button>
  </td>
</tr>