<%= link_to "/auth/facebook" do %>
<button class="btn btn-lg btn-facebook">
  <i class="fa fa-facebook"></i> | Signin with Facebook
</button>
<% end %>
<%= link_to "/auth/twitter" do %>
<button class="btn btn-lg btn-twitter">
  <i class="fa fa-twitter"></i> | Signin with Twitter
</button>
<% end %>
<%= link_to "/auth/google_oauth2" do %>
<button class="btn btn-lg btn-google-plus">
  <i class="fa fa-google-plus"></i> | Signin with Google
</button>
<% end %>